affine==2.4.0
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contextily==1.3.0
contourpy==1.0.7
cycler==0.11.0
filelock==3.12.0
Fiona==1.9.4.post1
fonttools==4.39.4
geographiclib==2.0
geopandas==0.13.0
geopy==2.3.0
idna==3.4
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.7.1
mercantile==1.2.1
mpmath==1.3.0
networkx==3.1
numpy==1.24.3
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
pyparsing==3.0.9
pyproj==3.5.0
python-dateutil==2.8.2
pytz==2023.3
rasterio==1.3.7
requests==2.31.0
scipy==1.10.1
shapely==2.0.1
six==1.16.0
snuggs==1.4.7
sympy==1.12
torch==2.0.1
tqdm==4.65.0
typing_extensions==4.6.2
tzdata==2023.3
urllib3==2.0.2
xyzservices==2023.5.0
